<template>
  <v-app>
    <v-app-bar color="primary">
      <v-app-bar-title class="text-center">
        Autores
      </v-app-bar-title>
    </v-app-bar>
    <v-main>
      <Autor />
    </v-main>
  </v-app>
</template>

<script setup>
  import Autor from '@/components/Autor.vue'
</script>
