<script setup>
import { ref, watch } from 'vue'
import axios from 'axios'

const items = ref({})

const archivo = ref([])


const form = ref({
  nombre: '',
  imagen: null
})

const cargarAutores = async () =>{
    const { data } = await axios.get(`http://localhost:8000/api/libreria/autor/`)
    items.value = data
    console.log(items.value)
}
const crearAutor = async () =>{

    const confi = {
      headers: {
        "Content-Type": "application/json",
        Accept: 'application/json'
      }
    }

    const { data } = await axios.post(`http://localhost:8000/api/libreria/autor/`, form.value, confi)
    console.log(data)
    cargarAutores()
}

watch(archivo, ()=>{
  // encode the file using the FileReader API
  const reader = new FileReader()
  reader.onloadend = () => {
      // use a regex to remove data url part
      form.value.imagen = reader.result
    }
  reader.readAsDataURL(archivo.value[0])

})

  //
</script>
<template>
  <v-container class="fill-height">
    <v-responsive>

      <v-row class="mb-1">
        <v-col cols="6">
          <v-btn @click="cargarAutores" variant="outlined" color="primary">Listar autores</v-btn>
        </v-col>
      </v-row>


      <v-row>
        <v-col cols="6">
          <v-list lines="two">
            <v-list-item
            v-for="item in items"
            :key="item.id"
            :title="item.nombre"
            :prepend-avatar="item.imagen"
            ></v-list-item>
          </v-list>
        </v-col>
        <v-col cols="6">
          <v-text-field v-model="form.nombre" label="Nombre" variant="outlined"></v-text-field>
          <v-file-input v-model="archivo" label="imagen"></v-file-input>
          <div class="text-center">
            <v-btn @click="crearAutor" variant="outlined" color="primary">Crear Autor</v-btn>
          </div>

        </v-col>
      </v-row>
    </v-responsive>
  </v-container>
</template>

